@model BookStore.Models.Customer

@{
    ViewBag.title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Customer's name: @Model.Name</h2>
<p>  Membership Type: @Model.MembershipType.Name </p>
<p>  Birthdate:   @Model.birthDate </p>

